#arguably\.arg + .highlight {
  display: none;
}

#arguably\.arg + .highlight + .doc-contents .doc-class-bases {
  display: none;
}

.highlight.lang-console {
  border-left: 5px solid rgba(255, 255, 255, 0.3);
  background-color: var(--md-code-bg-color);
}

.highlight.lang-console code {
  background: none;
  margin-left: -5px;
}

.highlight.lang-console .m, .highlight.lang-console .k {
  color: var(--md-code-fg-color);
}
